@import "tailwindcss";
@theme {
  --color-main-black: #09090b;

  --color-primary: #e8a74f;
  --color-primary-hover: #e8a74f;
  
  --color-secondary: #51a097;
  --color-secondary-hover: #e8a74f;
  /* --color-secondary-hover: #55a99f; */
}